.idm4{
    color: red;
}
.idm6{
    color: blueviolet;
}
#r1{
    font-size: 16px ;
}
#r2{
    font-size: 14px ;
}
#r3{
    font-size: 18px;
}
#r4{
    font-size:5px ;
}
#r5{
    font-size: 20px;
}
.thr{
    border: 3px solid red;
}
.yoga{
    background-color: aqua;
}
.music{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}